body
{
  background-image: url('../images/homepage_background.png');
  margin: 0px;
}

.top_part
{
  background-color: rgb(0, 0, 190);
}

header
{
  display: grid;
  grid-template-columns: 1fr 1fr 85px;
  margin: 0px;
}

.search_box
{
  margin-top: 10px;
  text-align:right;
  padding-right: 5px;
}

input
{
  font-size: 35px;
  border-radius: 25px;
  border-style: solid;
  border-color:white;

}

.search_button
{
  margin-top: 10px;
  margin-right: 10px;
  border-style:solid;
  background-color: #ffe600;
  border-color: #ff6600;
  height: 75px;
  width: 70px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.search_button:hover {
  background-color: #ff9900;
}

.search_button:active {
  background-color: #ff6600;
}

.welcome_part
{
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 600px 1fr 600px;
}

.guide_title
{
  text-align: center;
}

.main_logo
{
  width: 600px;
}

.navigation
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.option
{
  text-align: center;
  margin-bottom: 25px;
}

.option a
{
  color: white;
  text-decoration: none;
  font-family: 'New Super Mario Font U';
  font-size: 45px;
}

.option a:hover {
  color: rgb(125, 125, 255);
}

.option a:active {
  color: rgb(89, 89, 255);
}

hr
{
  background-color:#ffdd00;
  border: none;
  height: 10px;
}

.nintendo_logo
{
  margin-left: 10px;
  margin-top: 10px;
}

.left_mushroom
{
  margin-left: 200px;
  margin-top: 25px;
}

.right_mushroom
{
  margin-left: 165px;
  margin-top: 25px;
}

.things_to_do
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main_images
{
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main_images_text
{
  font-size: 135px;
  color: white;
  -webkit-text-stroke: 5px black;
  text-align: center;
  margin-top: 175px;
  font-family: 'New Super Mario Font U';
}

.example_images
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.display_images
{
  width: 600px;
  height: 450px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.txt_below_examples
{
  font-size: 100px;
  color: white;
  -webkit-text-stroke: 3px black;
  text-align: center;
  font-family: 'New Super Mario Font U';
}

.to_next_page_button
{
  background-color: #ffe600;
  border-color: #ff6600;
  border-style: solid;
  border-width: 5px;
  font-size: 75px;
  height: 125px;
  width: 600px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: 'New Super Mario Font U';
  transition: background-color 0.15s, color 0.15s;
}

.to_next_page_button:hover {
  background-color: #ff9900;
}

.to_next_page_button:active {
  background-color: #ff6600;
}

.super_nintendo_world_full_image
{
  height: 450px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.join_us_now_button
{
  background-color: #ffe600;
  border-color: #ff6600;
  border-style: solid;
  border-width: 5px;
  font-size: 75px;
  height: 125px;
  width: 600px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: 'New Super Mario Font U';
  transition: background-color 0.15s, color 0.15s;
}

.join_us_now_button:hover {
  background-color: #ff9900;
}

.join_us_now_button:active {
  background-color: #ff6600;
}

a
{
  text-decoration-line: none;
}

footer
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.disclaimer
{
  font-size: 35px;
  margin-left: 10px;
  color: white;
  -webkit-text-stroke: 1px black;
  margin-top: 12.5px;
  font-family: 'Rubik';
}

.mario_block
{
  width: 125px;
  height: 125px;
  margin-left: 775px;
  margin-bottom: 0px;
  margin-top: 12.5px;
}

.click_me_text
{
  font-size: 50px;  
  margin-top: 0px;
  margin-right: 10px;
  color: white;
  -webkit-text-stroke: 1px black;
  margin-bottom: 0px;
  text-align: right;
  font-family: 'Rubik';
}

.easter_image
{
  background-color: rgb(0, 0, 190);
  border:none;
  width: 125px;
  height: 125px;
  cursor: pointer;
}

.footer_color
{
  background-color: rgb(0, 0, 190);
}